<div class="certificate">
    <h3>{{certificate.title}} ({{certificate.abbreviation}})<span style="float:right">{{certificate.industry}}</span></h3>

    <p>{{certificate.organization}}<span style="float:right">{{certificate.time}}</span></p>
    <p>&ensp; <span style="float:right">{{certificate.cost}}</span></p>
    <p><a href="{{certificate.link}}" target="_blank" class="general-btn"> External Link </a> <span style="float:right">Add to Profile<input type="checkbox" name="Add to Profile" value="Add to Profile"></span></p>
    <p></p>
</div>