<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    
    <div class="page-body">
        <h1 class="page-title">Welcome to CertPathway!</h1>
        
        <ul>
            <li>Struggling to move up in your career?</li>
            <li>Unsatisfied with your current pay?</li>
            <li>Not intested in a 4-year degree?</li>
        </ul>

        <p>
            Consider getting certification! Certificates (and other forms of short-term education) can be low cost 
            methods to qualify you for higher-paid opportunities! Here at CertPathway, we aim to provide you with 
            connections to certifications, classes, and trades programs that are cheaper and take less time than 
            a traditional 4-year degree. With a simple form and/or submission of your resume, we can curate a list
            of programs that could be right for you!
        </p>

        <img src="/static/images/CertPathPipeline.png" style="max-height:100%; max-width:100%; object-fit: contain" alt="CertPathways Process">


    </div>

</body>
</html>
